

.landing{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.logoName{
	width: auto;
	position: absolute;
	top: 2rem;
	height: 30px;
	transform: translateX(-50%);
	left: 50%;
}

.mainTitle{
	font-weight: 600;
    position: absolute;
    top: -25rem;
    font-size: 50px;
    line-height: 53px;
}

.assistant{
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
}

.recordButton{
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 0;
}

.recordButton:hover{
	cursor: pointer;
}

.playerScreen{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0rem;
}

.logo{
	top: 2rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.wave{
	width: 100%;
}

.sellerLight{
	margin-top: 8rem;
}

.iconRecord{
	width: 10px;
}

.waveLine{
	width: 100%;
	height: 2px;
	background-color: white;
}

.buttonPlay{
	margin-bottom: 2rem;
}

.resultPage {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: end;
    height: 100%;
}

.cardResult{
	width: 100%;
	max-height: 75vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	color: #1e1e1e;
	background-color: #999999;
	border-radius: 20px 20px 0px 0px;
	background: linear-gradient(0deg, #5C5C5C 0%, #5C5C5C 100%), rgba(153, 153, 153, 0.97);

	background-blend-mode: color-dodge, normal;
	/* Material Blur */
	backdrop-filter: blur(25px);
	padding: 1rem;
	overflow-y: scroll;
}

.loadingPageResult{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: large;
	color: white;
	font-weight: 600;
}

.cardResult::-webkit-scrollbar {
	display: none;
  }
  

.tagPrice{
	position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 700;
    background: #FFCD4E;
    color: #1e1e1e;
    font-size: 22px;
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
}

.iconLeft, .iconRight{
	position: absolute;
	top: 20%;
}

.iconLeft{
	left: 10px;
}

.iconRight{
	right: 10px;
}	

.recordAloneIcon{
	height: 60px;
	width: 60px;
	margin-bottom: 2rem;
}

.recordAloneIcon:hover{
	cursor: pointer;
}

.link{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #3643BA;
	text-decoration: underline;
}

.link img{
	margin-left: 6px;
	transform: translateY(2px);
	z-index: 10;
}

.imageBike{
	margin-top: 3rem;
}

.downPart{
	position: relative;
	display: flex;
	margin-top: -1rem;
	flex-direction: column;
	align-items: center;
}

.bold{
	font-weight: 600;
}


.title{
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 700;
	max-width: 80%;
	line-break: auto;
	text-align: center;
	font-size: 18px;
}

.titleSpec{
	margin-top: 1rem;
}